.down{
	background:#11de89;
}

.up{
	background:white;
	-moz-transition: all .05s ease-in;
    -o-transition: all .05s ease-in;
    -webkit-transition: all .05s ease-in;
    transition: all .05s ease-in;
}

body {
	-webkit-text-size-adjust:none;
	margin:0;
	padding:0;
}

#container {
	position:absolute;
	height:100%;
	width:100%;
}

#statusContainer {
	width:100%;
	position:relative;
	top:45%;
}

#statusContainer p {
	font-size:5em;
	font-family:'Fjalla One';
	text-transform: uppercase;
	text-align:center;
	margin:0;
	padding:0 10px 0 10px;
}

#timeContainer {
	position: absolute;
	top:0px;
	width:100%;
	height:50px;
	background:blue;
}